.addCompaint,
.addCompaintEnd {
	margin-right: 10px;
	cursor: default;
}

.addCompaint:after {
	content: '\25b6';
	color: #fff;
	padding-left: 10px;
	cursor: auto;
}

.addCompaint.active label,
.addCompaintEnd.active label {
	background: #5dc0ec;
	border: 1px solid transparent;
}

.addCompaint label,
.addCompaintEnd label {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	line-height: 35px;
	margin: 0 5px 0 0;
	font-weight: 300;
	cursor: default;
}

.addCompaint span,
.addCompaintEnd span {
	color: #fff;
	font-size: 1rem;
	font-weight: 300;
}

/* ================================================================================ */

.-hiddle {
	visibility: hidden;
}

.btn-hiddle {
	width: 200px;
	border: none;
	background: transparent;
}

.headStep {
	font-size: 1.3rem;
	text-align: center;
	font-weight: 500;
}

.labelAddComplaint {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.box:nth-child(1) {
	justify-self: flex-start;
}

.box:nth-child(2) {
	justify-self: center;
}

.box:nth-child(3) {
	justify-self: flex-end;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.box:nth-child(1) {
	align-self: flex-start;
}

.box:nth-child(2) {
	align-self: center;
}

.box:nth-child(3) {
	align-self: flex-end;
}

.radioStatus {
	display: block;
	text-align: left;
}

.radioStatus label {
	font-weight: 500;
	font-size: 1rem;
	margin-right: 5px;
	width: auto;
	text-align: left;
	cursor: pointer;
}

.radioStatus span {
	font-weight: 300;
	font-size: 1rem;
	margin-right: 5px;
	width: 260px;
	text-align: left;
}

.closeInfo {
	background: #f6f9fb;
	color: #29a4db;
	font-weight: 300;
	text-align: center;
}
/*---------------------------------------------**/
.file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	font-size: .889rem;
	padding: .699rem 1rem !important;
}
.file-upload input[type="file"] {
	display: none;
}
