@media screen and (max-width: 579px){
    .nav-head-admin .-right .-logout{
        border: unset;
        background: unset;
    }
    .nav-head-admin .-right .-logout span{
        display: none;
    }
    .nav-head-admin .-right .-logout i{
        display: block;
        font-size: 2.5rem
    }

}