.mw768-menu {
    display: none
}

@media screen and (max-width: 769px) {
    .mw768-menu {
        position: absolute;
        display: block;
        right: -30px;
        font-size: 2rem;
        color: #fff;
    }
    .mw768-menu {
        position: absolute;
        display: block;
        right: -30px;
        font-size: 2rem;
        color: #fff;
    }
    .nav-left.-admin {
        background-position: bottom;
        left: -220px;
        transition: left 1s;
        z-index: 999;
    }
    .nav-left.openmenu {
        left: 0px;
    }
    .nav-left.closemenu {
        left: -220px;
    }
    .nav-head-admin .-left {
        padding-left: 30px;
    }
    .setCenter.-admin .panel-right {
        width: 100%;
        margin-left: 0px;
    }
}